# This defines where the logfile will reside
# defaults to /var/spool/log if not set (you may replace the default)
logDir=./

#The port for the server to use
port=2111

# number of logfiles to keep (defaults to 5)
numlogfiles=5

# name of username file
usernamefile=/Users/Matt/Git Repos/mdamore_hw4/users.csv

# port_mode supported (default = no)
port_mode=false

# pasv_mode supported (default = yes)
pasv_mode=true